swagger: '2.0'
info:
  title: Amori API Gateway
  description: API Gateway for Amori wedding invitation platform
  version: 1.0.0
host: amori-gateway-1s5q4ca1.an.gateway.dev
schemes:
  - https
produces:
  - application/json
consumes:
  - application/json
  - multipart/form-data
x-google-backend:
  address: http://34.50.146.225.nip.io
x-google-management:
  metrics:
    - name: "request-count"
      displayName: "Request Count"
      description: "Number of requests"
      valueType: INT64
      metricKind: DELTA
paths:
  /api/auth/signup:
    post:
      summary: User signup
      operationId: signup
      consumes:
        - multipart/form-data
      produces:
        - application/json
      x-google-backend:
        address: http://34.50.146.225.nip.io/api/auth/signup
      responses:
        '201':
          description: Signup successful
          schema:
            type: object
          headers:
            Access-Control-Allow-Origin:
              type: string
        '400':
          description: Bad request
        '500':
          description: Internal server error
    options:
      summary: CORS preflight for signup
      operationId: signupCors
      # x-google-backend: removed
      responses:
        '204': # 200 -> 204
          description: CORS preflight response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Credentials:
              type: string
  /api/auth/login:
    post:
      summary: User login
      operationId: login
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - email
              - password
            properties:
              email:
                type: string
              password:
                type: string
      x-google-backend:
        address: http://34.50.146.225.nip.io/api/auth/login
      responses:
        '200':
          description: Login successful
          headers:
            Access-Control-Allow-Origin:
              type: string
        '401':
          description: Unauthorized
    options:
      summary: CORS preflight for login
      operationId: loginCors
      # x-google-backend: removed
      responses:
        '204': # 200 -> 204
          description: CORS preflight response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Credentials:
              type: string
  /api/auth/upload-image:
    post:
      summary: Upload profile image
      operationId: uploadImage
      consumes:
        - multipart/form-data
      produces:
        - application/json
      x-google-backend:
        address: http://34.50.146.225.nip.io/api/auth/upload-image
      responses:
        '200':
          description: Upload successful
          headers:
            Access-Control-Allow-Origin:
              type: string
    options:
      summary: CORS preflight for image upload
      operationId: uploadImageCors
      # x-google-backend: removed
      responses:
        '204': # 200 -> 204
          description: CORS preflight response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Credentials:
              type: string
  /api/user/me:
    get:
      summary: Get current user info
      operationId: getCurrentUser
      produces:
        - application/json
      parameters:
        - in: header
          name: Authorization
          type: string
          required: true
      x-google-backend:
        address: http://34.50.146.225.nip.io/api/user/me
        disable_auth: true
      responses:
        '200':
          description: User info retrieved
          headers:
            Access-Control-Allow-Origin:
              type: string
        '401':
          description: Unauthorized
    options:
      summary: CORS preflight for user info
      operationId: getCurrentUserCors
      # x-google-backend: removed
      responses:
        '204': # 200 -> 204
          description: CORS preflight response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Credentials:
              type: string
  /:
    get:
      summary: Health check
      operationId: healthCheck
      x-google-backend:
        address: http://34.50.146.225.nip.io/
      responses:
        '200':
          description: Service healthy
  /health:
    get:
      summary: Health check endpoint
      operationId: healthCheckAlt
      x-google-backend:
        address: http://34.50.146.225.nip.io/health
      responses:
        '200':
          description: Service healthy
  /api/oauth/nid/login:
    get:
      x-google-backend:
        address: http://34.50.146.225.nip.io/api/oauth/nid/login
      summary: Naver OAuth login redirect
      operationId: naverLogin
      produces:
        - application/json
      responses:
        '307':
          description: Redirect to Naver login
          headers:
            Access-Control-Allow-Origin:
              type: string
    options:
      # x-google-backend: removed
      summary: CORS preflight for Naver login
      operationId: naverLoginCors
      responses:
        '204': # 200 -> 204
          description: CORS preflight response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Credentials:
              type: string
  /api/oauth/nid/callback:
    get:
      x-google-backend:
        address: http://34.50.146.225.nip.io/api/oauth/nid/callback
      summary: Naver OAuth callback
      operationId: naverCallback
      produces:
        - application/json
      parameters:
        - in: query
          name: code
          type: string
          required: true
        - in: query
          name: state
          type: string
          required: true
      responses:
        '200':
          description: Login successful
          schema:
            type: object
          headers:
            Access-Control-Allow-Origin:
              type: string
        '307': # 이 부분을 추가
          description: Redirect to frontend dashboard
          headers:
            Location:
              type: string
            Access-Control-Allow-Origin:
              type: string
        '400':
          description: OAuth failed
          headers:
            Access-Control-Allow-Origin:
              type: string
    options:
      # x-google-backend: removed
      summary: CORS preflight for Naver callback
      operationId: naverCallbackCors
      responses:
        '204': # 200 -> 204
          description: CORS preflight response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Credentials:
              type: string
  /api/oauth/google/login:
    get:
      x-google-backend:
        address: http://34.50.146.225.nip.io/api/oauth/google/login
      summary: Google OAuth login redirect
      operationId: googleLogin
      produces:
        - application/json
      responses:
        '307':
          description: Redirect to Naver login
          headers:
            Access-Control-Allow-Origin:
              type: string
    options:
      # x-google-backend: removed
      summary: CORS preflight for Google login
      operationId: GoogleLoginCors
      responses:
        '204': # 200 -> 204
          description: CORS preflight response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Credentials:
              type: string
  /api/oauth/google/callback:
    get:
      x-google-backend:
        address: http://34.50.146.225.nip.io/api/oauth/google/callback
      summary: Google OAuth callback
      operationId: googleCallback
      produces:
        - application/json
      parameters:
        - in: query
          name: code
          type: string
          required: true
        - in: query
          name: state
          type: string
          required: true
      responses:
        '200':
          description: Login successful
          schema:
            type: object
          headers:
            Access-Control-Allow-Origin:
              type: string
        '400':
          description: OAuth failed
          headers:
            Access-Control-Allow-Origin:
              type: string
    options:
      # x-google-backend: removed
      summary: CORS preflight for Google callback
      operationId: googleCallbackCors
      responses:
        '204': # 200 -> 204
          description: CORS preflight response
